/* GitHub Theme */
/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
/* plain text */
.pln {
  color: #333333;
}
.prettyprint{overflow:auto!important;}

@media screen {
  /* string content */
  .str {
    color: #dd1144;
  }

  /* a keyword */
  .kwd {
    color: #333333;
  }

  /* a comment */
  .com {
    color: #999988;
  }

  /* a type name */
  .typ {
    color: #445588;
  }

  /* a literal value */
  .lit {
    color: #445588;
  }

  /* punctuation */
  .pun {
    color: #333333;
  }

  /* lisp open bracket */
  .opn {
    color: #333333;
  }

  /* lisp close bracket */
  .clo {
    color: #333333;
  }

  /* a markup tag name */
  .tag {
    color: navy;
  }

  /* a markup attribute name */
  .atn {
    color: teal;
  }

  /* a markup attribute value */
  .atv {
    color: #dd1144;
  }

  /* a declaration */
  .dec {
    color: #333333;
  }

  /* a variable name */
  .var {
    color: teal;
  }

  /* a function name */
  .fun {
    color: #990000;
  }
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #006600;
  }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #004444;
  }

  .pun, .opn, .clo {
    color: #444400;
  }

  .tag {
    color: #006;
    font-weight: bold;
  }

  .atn {
    color: #440044;
  }

  .atv {
    color: #006600;
  }
}
/* Style */
pre.prettyprint {
  background: #F0F0F0;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #cccccc;
  padding: 0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #888;
}

.linenums li {
  background: #FAFAFA;
  padding-left: 10px;
  border-left: 1px solid #CCC;
}

.linenums li {
  padding-top: 5px;
}

.linenums li + li {
  padding-top: 0;
}

.linenums li:last-child {
  padding-bottom: 5px;
}



/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}

// lightbox.scss
// by Kadar Claudiu
// http://www.stylishthemes.co/

// Here is the code for Fancybox plugin.

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99920;
}

.fancybox-skin {
  position: relative;
  padding: 0!important;
}
.fancybox-opened {
  z-index: 99930;
}
.fancybox-inner {
  overflow: hidden;
}
.fancybox-outer,
.fancybox-inner {
  position: relative;
  overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #FFF;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  cursor: default;
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading {
  cursor: pointer;
  height: 40px;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  position: relative;
  position: fixed;
  text-align: center;
  top: 50%;
  width: 40px;
  z-index: 99960;
  -webkit-animation: sk-chasingDotsRotate 1.5s infinite linear;
          animation: sk-chasingDotsRotate 1.5s infinite linear; 
}

#fancybox-loading div {
  background-color: #181818;
  border-radius: 100%;
  display: inline-block;
  height: 60%;
  position: absolute;
  top: 0;
  width: 60%;
  -webkit-animation: sk-chasingDotsBounce 1.5s infinite ease-in-out;
          animation: sk-chasingDotsBounce 1.5s infinite ease-in-out; 
}

#fancybox-loading .sk-dot2 {
  bottom: 0px;
  top: auto;
  -webkit-animation-delay: -1s;
          animation-delay: -1s; 
}

.fancybox-close {
  display: none;
}

.fancybox-nav {
  cursor: pointer;
  height: 100%;
  position: absolute;
  text-decoration: none;
  top: 0;
  width: 50%;
  z-index: 99940;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.fancybox-nav span {
  background: url('../img/sprite.png') no-repeat #FFF;
  cursor: pointer;
  height: 55px;
  margin-top: -27px;
  position: absolute;
  top: 50%;
  width: 55px;
  z-index: 99940;
  -webkit-transition: background-color .1s;
     -moz-transition: background-color .1s;
    -ms-transition: background-color .1s;
     -o-transition: background-color .1s;
}

.fancybox-nav:hover span { 
  background-color: #181818;
}

.fancybox-next {
  right: 0;
}
.fancybox-prev {
  left: 0;
}

.ie9 .fancybox-next:hover,
.ie9 .fancybox-prev:hover {
  cursor: pointer;
}

.fancybox-next span {
  background-position: -22px -373px;
  right: 30px;
}

.fancybox-next:hover span {
  background-position: -22px -273px;
} 

.fancybox-prev span {
  background-position: -24px -323px;
  left: 30px;
}

.fancybox-prev:hover span {
  background-position: -24px -223px;
}

.fancybox-nav span {
  visibility: visible!important;
  -webkit-animation-fill-mode: both;
      animation-fill-mode: both;  
  -webkit-animation-name: fadeslideleft;  
      animation-name: fadeslideleft;
  -webkit-animation-duration: .1s;  
      animation-duration: .1s;
  -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
}
@keyframes fadeslideleft {
  0%   {
    transform: translateX(100%);
  }     
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes fadeslideleft {
  0%   {
    -webkit-transform: translateX(100%);
  }   
  100% {
    -webkit-transform: translateX(0%);
  }
}

.fancybox-prev span {
  -webkit-animation-name: fadeslideright; 
      animation-name: fadeslideright;
}
@keyframes fadeslideright {
  0%   {
    transform: translateX(-100%);
  }     
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes fadeslideright {
  0%   {
    -webkit-transform: translateX(-100%);
  }   
  100% {
    -webkit-transform: translateX(0%);
  }
}

.fancybox-tmp {
  left: -99999px;
  max-height: 99999px;
  max-width: 99999px;
  overflow: visible !important;
  position: absolute;
  top: -99999px;
  visibility: hidden;
}

/* OVERLAY HELPER */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}
.fancybox-lock body {
  overflow: hidden !important;
}
.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  background: rgba(0,0,0,0.7);
  display: none;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 99910;
}

.fancybox-overlay-fixed {
  bottom: 0;
  position: fixed;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  cursor: pointer;
  overflow-y: scroll;
  overflow-x: hidden;
}

.fancybox-title {
  visibility: hidden;
  position: relative;
  text-shadow: none;
  z-index: 99950;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  bottom: 0;
  margin-bottom: -35px;
  position: absolute;
  right: 50%;
  text-align: center;
  z-index: 99950;
}

.fancybox-title-float-wrap .child {
  background: transparent;
  color: #FFF;
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  white-space: nowrap;
  display: none;
}

.fancybox-title-outside-wrap {
  color: #FFF;
  margin-top: 10px;
  position: relative;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  background: #000;
  background: rgba(0, 0, 0, .8);
  bottom: 0;
  color: #6F6F6F;
  left: 0;
  padding: 10px;
  position: absolute;
}

img.hidden,
a.lightbox.hidden {
  display: none!important;
}

@media (max-width: 500px) {
  .fancybox-prev span {
    left: 0;
  }

  .fancybox-next span {
    right: 0;
  }
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

.table > caption + thead > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > th,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.table > tbody + tbody {
  border-top: 2px solid #ddd;
}

.table .table {
  background-color: #fff;
}

.table-condensed > thead > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}

.table-bordered {
  border: 1px solid #ddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}

table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}

table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}

.table > thead > tr > td.active,
.table > thead > tr > th.active,
.table > thead > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr > td.active,
.table > tbody > tr > th.active,
.table > tbody > tr.active > td,
.table > tbody > tr.active > th,
.table > tfoot > tr > td.active,
.table > tfoot > tr > th.active,
.table > tfoot > tr.active > td,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}

.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}

.table > thead > tr > td.success,
.table > thead > tr > th.success,
.table > thead > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr > td.success,
.table > tbody > tr > th.success,
.table > tbody > tr.success > td,
.table > tbody > tr.success > th,
.table > tfoot > tr > td.success,
.table > tfoot > tr > th.success,
.table > tfoot > tr.success > td,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}

.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}

.table > thead > tr > td.info,
.table > thead > tr > th.info,
.table > thead > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr > td.info,
.table > tbody > tr > th.info,
.table > tbody > tr.info > td,
.table > tbody > tr.info > th,
.table > tfoot > tr > td.info,
.table > tfoot > tr > th.info,
.table > tfoot > tr.info > td,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}

.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}

.table > thead > tr > td.warning,
.table > thead > tr > th.warning,
.table > thead > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr > td.warning,
.table > tbody > tr > th.warning,
.table > tbody > tr.warning > td,
.table > tbody > tr.warning > th,
.table > tfoot > tr > td.warning,
.table > tfoot > tr > th.warning,
.table > tfoot > tr.warning > td,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}

.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}

.table > thead > tr > td.danger,
.table > thead > tr > th.danger,
.table > thead > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr > td.danger,
.table > tbody > tr > th.danger,
.table > tbody > tr.danger > td,
.table > tbody > tr.danger > th,
.table > tfoot > tr > td.danger,
.table > tfoot > tr > th.danger,
.table > tfoot > tr.danger > td,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}

.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}

.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}

@media screen and (max-width: 799px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}